%a.action{:href => "/"} Home
>
%a.action{:href => "/titles"} All Titles
>
%a.action{:href => "/addIssue/#{params[:name]}"}Add another #{params[:name]}

%h1= params[:name]
- @titles.each do |t|
  %p
    %a{:href => "http://localhost:4567/title/#{params[:name]}/#{t['issue']}"} #{t['issue']}  
    Notes: #{t['notes']}
    %a.action{:href => "/modifyIssue/#{t['id']}"} Modify
    %a.action{:href => "/deleteIssue/#{t['id']}"} Delete
